.section {
  min-height: calc(100vh - 27px);
  padding: 0;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero {
  margin-right: 5rem;
}

.image {
  border-radius: 100%;
}

@media only screen and (max-width: 800px) {
  .banner {
    flex-direction: column;
  }
}
