.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem;
  margin-top: 5rem;
}

.cards a {
  position: relative;
}

.cards a h4 {
  z-index: 10;
  position: absolute;
  background-color: #ff00ae;
  color: #f1f1f1;
  top: -1rem;
  left: -1rem;
  padding: 0.5rem 1rem;
  transition: all 300ms;
}

.cards a:hover h4,
.cards a:focus h4 {
  background-color: #ffd000;
  color: #1a1d22;
}
