.experiences {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.column {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 3rem;
  row-gap: 1rem;
  color: #f1f1f1;
  padding: 1.5rem 1rem;
  background-color: #1f2739;
}

.column p {
  grid-column: 2/4;
  grid-row: 2/3;
}

.column:nth-of-type(even) {
  background-color: #2c3446;
}

.container {
  display: grid;
  align-content: flex-start;
  height: 100%;
}

@media only screen and (max-width: 1150px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
