.experiences {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.container {
  display: grid;
  align-content: flex-start;
  height: 100%;
}

.column {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 3rem;
  row-gap: 1rem;
  color: #f1f1f1;
  padding: 1.5rem 1rem;
  background-color: #282c34;
}

.column p {
  grid-column: 2/3;
  grid-row: 2/3;
}

.column:nth-of-type(even) {
  background-color: #4a4e57;
}

@media only screen and (max-width: 1061px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .column {
    grid-template-columns: 1fr;
  }

  .column p {
    grid-column: 1/-1;
    grid-row: auto;
  }
}
