.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20rem 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.list li {
  display: flex;
  font-size: 3.5rem;
  color: #ff00ae;
  margin-top: 1.5rem;
}

.list li:not(:last-of-type) {
  margin-right: 1.5rem;
}
