.form {
  width: 100%;
  max-width: 400px;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.form input {
  font-size: 1.6rem;
  height: 40px;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  background-color: #e9e9e9;
  color: #616161;
  border: none;
}

.form textarea {
  height: 180px;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #e9e9e9;
  border: none;
}

.form input:focus,
.form textarea:focus {
  outline: 1px solid #ff00ae;
}

.submitMessage {
  background-color: #ff00ae;
  color: #f1f1f1;
  width: 100%;
  max-width: 400px;
  margin-top: 3rem;
  padding: 0 1.5rem;
}

.error {
  color: red;
}
