.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  margin-top: 8rem;
}

.card {
  position: relative;
  cursor: pointer;
}

.card img {
  z-index: 10;
}

.card:hover .links,
.card:focus .links {
  transform: translateY(-5px);
}

.links {
  position: absolute;
  transition: all 700ms;
  width: 100%;
  transform: translateY(-50px);
}

.links a {
  font-size: 2rem;
  color: #f1f1f1;
  background-color: #ff00ae;
  padding: 0.5rem 1rem;
  width: 50%;
  text-transform: capitalize;
}

.links a:hover,
.links a:focus {
  background-color: #ffd000;
  color: #1a1d22;
}

.links svg {
  margin-right: 0.8rem;
}
