.hero {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  line-height: 1;
  text-transform: uppercase;
  font-size: min(max(5rem, 7vw), 7rem);

  @supports (font-size: clamp(5rem, 7vw, 7rem)) {
    font-size: clamp(5rem, 7vw, 7rem);
  }
}

.hero h2 {
  line-height: 1.2;
  margin-bottom: 2rem;
  text-transform: unset;
}

@media only screen and (max-width: 800px) {
  .hero {
    order: 2;
  }
}
