.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1a1d22;
  z-index: 100;
}

.nav__list {
  display: flex;
}

.nav__link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #f1f1f1;
  padding: 1.5rem 1.7rem;
}

.nav__link:hover,
.nav__link:focus {
  color: #ff00ae;
}

.nav__link:active {
  color: #ffd000;
}

.toggle__nav,
.nav__toggle {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav {
    position: fixed;
    padding: 1rem;
  }

  .nav__list {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 5.4rem;
    background-color: #1a1d22;
    width: 100%;
  }

  .nav__toggle {
    display: inline-block;
    border: 2px solid #f1f1f1;
    padding: 0 0.5rem;
    position: relative;
    cursor: pointer;
    transition: all 300ms;
  }

  .nav__toggle:hover,
  .nav__toggle:focus {
    border: 2px solid #ff00ae;
  }

  .navtoggle__icon {
    position: relative;
    margin-top: 1.5rem;
  }

  .navtoggle__icon,
  .navtoggle__icon::before,
  .navtoggle__icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #f1f1f1;
    transition: all 300ms;
  }

  .navtoggle__icon::before,
  .navtoggle__icon::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .navtoggle__icon::before {
    top: -0.8rem;
  }

  .navtoggle__icon::after {
    top: 0.8rem;
  }

  .nav__toggle:hover .navtoggle__icon,
  .nav__toggle:hover .navtoggle__icon::before,
  .nav__toggle:hover .navtoggle__icon::after {
    background-color: #ff00ae;
  }

  .toggle__nav:checked + .nav__toggle .navtoggle__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  .toggle__nav:checked + .nav__toggle .navtoggle__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  .toggle__nav:checked + .nav__toggle .navtoggle__icon {
    background-color: transparent;
  }

  .toggle__nav:checked ~ .nav__list {
    position: absolute;
    display: block;
  }
}
